[submodule "Dependencies/termcolor"]
	path = Dependencies/termcolor
	url = https://github.com/ikalnytskyi/termcolor.git
[submodule "Dependencies/fmt"]
	path = Dependencies/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "Dependencies/glfw"]
	path = Dependencies/glfw
	url = https://github.com/glfw/glfw.git
